:root {
  // ### Primary
  --p-very-dark-blue: hsl(233, 47%, 7%);
  --p-dark-destaturated-blue: hsl(244, 38%, 16%);
  --p-soft-violet: hsl(277, 64%, 61%);

  // ### Neutral
  --n-white: hsl(0, 0%, 100%);
  --n-slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
  --n-slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);
}
